body { font-family: 'Droid Serif'; }
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz', 'Impact';
    font-weight: normal;
}
.remark-code, .remark-inline-code {
    font-family: /* 'Ubuntu Mono', */ 'Meslo', 'monospace';
    font-size: 80%;
}

.footnote {
    position: absolute;
    bottom: 3em;
    font-size: 75%;
    color: #888;
}

.red {
    color: #f00;
}

.dim {
    color: #888;
}

.pull-left {
    float: left;
    width: 47%;
}
.pull-right {
    float: right;
    width: 47%;
}
.pull-right ~ p {
    clear: both;
}
